<div class="Header" ng-controller="MenuCtrl as menu">
    <div class="container">
        <div class="grid-wrpp">
            <div class="col-6">
                <i class="icon-menu mobile-on" ng-click="menu.toggleMenu()"></i>
                <div class="brand">
                    <img src="/Content/Images/Logo.jpg" />
                </div>
            </div>
            <div class="col-6 col-invert">
                <a href="" class="btn btn-impact btn-small btn-update"><span class="mobile-off">Update dashboard </span><i class="icon-loop2"></i></a>
                <a href="" class="btn btn-impact btn-small btn-cog"><i class="icon-cog"></i></a>
            </div>
        </div>
    </div>
</div>
